body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*** Estilo de paginacion para la tabla en registros ****/

/* tr[name="pagination"]:first-child:nth-last-child(n + 3),
tr[name="pagination"]:first-child:nth-last-child(n + 3) ~ * {
  background-color: red;
} */

/* tr[name="pagination"]:nth-child(5n) {
  background-color: red;
} */
